<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= locals.title %></title>
  </head>
  <body>
    <header>
      <div class="inner-header">
        <h2>Members Only Club</h2>

        <div class="links">
          <ul>
            <% if (locals.user && !locals.user.isMember) {%>
            <li>
              <a href="/verify">Verify</a>
            </li>
            <% } if (locals.user && !locals.user.admin) {%>
            <li>
              <a href="/verify-admin">Verify Admin</a>
            </li>
            <% } if (!locals.user) { %>
            <li>
              <a href="/register">Register</a>
            </li>
            <li>
              <a href="/login">Login</a>
            </li>
            <% } else { %>
            <li>
              <a href="/logout">Logout</a>
            </li>
            <% } %>
          </ul>
        </div>
        <% if (locals.user) { %>
        <div class="user">
          Logged in as
          <strong
            ><%- user.fullname %><%= user.admin ? ' (Admin)' : '' %></strong
          >
        </div>
        <% } %>
      </div>
    </header>
    <main><%-body%></main>
  </body>
</html>
