<h1>Register To Members Club</h1>
<form method="POST">
  <label for="firstname">First Name:</label>
  <input
    name="firstname"
    id="firstname"
    type="text"
    value="<%= locals.userForRerender?.firstname ? userForRerender.firstname : '' %>"
  />
  <label for="lastname">Last Name:</label>
  <input
    name="lastname"
    id="lastname"
    type="text"
    value="<%= locals.userForRerender?.lastname ? userForRerender.lastname : '' %>"
  />
  <label for="email">Email:</label>
  <input
    name="email"
    id="email"
    type="email"
    value="<%= locals.userForRerender?.email ? userForRerender.email : '' %>"
  />
  <label for="password">Password:</label>
  <input name="password" id="password" type="password" />
  <label for="confirm-password">Confirm Password:</label>
  <input name="confirm-password" id="confirm-password" type="password" />
  <button type="submit">Register</button>
</form>

<% if (locals.errors) { %>
<div class="errors-container">
  <% errors.forEach((err) => { %>
  <li><%= err.msg %></li>
  <% }) %>
</div>
<% } %>
